/* COMMON */
.hide {
  display: none !important;
}
.clearfix {
  overflow: hidden;
  _zoom: 1;
}
.flex {
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
#app {
  min-height: 100vh;
  width: 100vw;
  background: #000;
}
.list {
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
}
.item {
  box-sizing: border-box;
  height: 350px;
  padding: 10px;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.item::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  border: 1px solid #ccc;
}
.span-24 .item {
  width: 100%;
}
.span-12 .item {
  width: 50%;
}
.span-6 .item {
  width: 25%;
}
.span-4-8 .item {
  width: 20%;
}

/* ♥ 心形样式 */
.heart {
  width: 80px;
  height: 80px;
  position: absolute;
  background: #f00;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
}
.heart:after,
.heart:before {
  content: "";
  width: inherit;
  height: inherit;
  background: inherit;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  position: fixed;
}
.heart:after {
  top: -50%;
}
.heart:before {
  left: -50%;
}

/* 多个正方形旋转动画 */
.box-rotate {
  width: 100%;
  height: 100%;
}
.box-rotate .box-rotate-item {
  height: 200px;
  width: 200px;
  border: 1px solid white;
  position: absolute;
  animation: box-rotate 3.5s ease infinite;
}
.box-rotate .box-rotate-item:nth-of-type(1) {
  animation-delay: 0.05s;
}
.box-rotate .box-rotate-item:nth-of-type(2) {
  animation-delay: 0.1s;
}
.box-rotate .box-rotate-item:nth-of-type(3) {
  animation-delay: 0.15s;
}
.box-rotate .box-rotate-item:nth-of-type(4) {
  animation-delay: 0.2s;
}
.box-rotate .box-rotate-item:nth-of-type(5) {
  animation-delay: 0.25s;
}
.box-rotate .box-rotate-item:nth-of-type(6) {
  animation-delay: 0.3s;
}
.box-rotate .box-rotate-item:nth-of-type(7) {
  animation-delay: 0.35s;
}
@keyframes box-rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* 可爱的眼睛👀 */

.eye {
  width: 100px;
  height: 100px;
  background: #fffdf9;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  clip-path: circle(50% at center);
  position: relative;
}
.eye .iris {
  width: 40%;
  height: 40%;
  background: #343434;
  border-radius: 50%;
  animation: movement 6s ease-in-out infinite;
}
.eye .eye-eyelid-upper,
.eye .eye-eyelid-lower {
  width: 100%;
  height: 20px;
  background: #c6cbef;
  position: absolute;
  animation: blink 6s ease-in-out infinite;
  z-index: 1;
}
.eye .eye-eyelid-upper {
  top: 0;
}
.eye .eye-eyelid-lower {
  bottom: 0;
}
@keyframes movement {
  0%,
  10% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-80%);
  }
  30%,
  80% {
    transform: translateX(0);
  }
  90% {
    transform: translateX(80%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes blink {
  0%,
  30% {
    height: 20px;
  }
  32% {
    height: 40px;
  }
  34% {
    height: 20px;
  }
  36% {
    height: 40px;
  }
  38%,
  50% {
    height: 20px;
  }
  60%,
  70% {
    height: 45px;
  }
  80%,
  100% {
    height: 20px;
  }
}
